server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        # ---------------------------------------------------
        # 1. NEW: Route for Login/Register (Public)
        # ---------------------------------------------------
        - id: user-service-auth
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/** # <--- Matches /auth/login
          # Notice: NO AuthFilter here! (Login must be public)

        # ---------------------------------------------------
        # 2. Existing Route for Profile (Protected)
        # ---------------------------------------------------
        - id: user-service-protected
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
          filters:
            - name: AuthFilter
              args:
                requiredRole: USER
        # --- Route A: Public Read Access (GET) ---
        # "Anyone can browse products"
        - id: product-service-read
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/v1/products/**, /api/v1/categories/**
            - Method=GET

        # --- Route B: Admin Write Access (POST, PUT, DELETE) ---
        # "Only Admins can change data"
        # Your Java Filter (AuthenticationFilter) will run before this to validate the user
        - id: product-service-write
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/v1/products/**, /api/v1/categories/**, /api/v1/images/**
            - Method=POST, PUT, DELETE
          filters:
            - name: AuthFilter        # <--- Matches your Java Class Name
              args:
                requiredRole: ADMIN

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG