server:
  port: 8085

spring:
  application:
    name: search-service

  # Connect to Elasticsearch
  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 5s

  # Connect to Kafka
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: search-es-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/